#main-content {
  position: relative;
  text-align: center;
  height: 100%;
}

#main-content #not-found {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
