*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #3c4043;
  font-family: 'Noto Sans JP', serif;
  font-feature-settings: initial;
  line-height: 1.75;
}

body p {
  padding-bottom: 4px;
}

body a {
  text-decoration: none;
  color: #3367d6;
}
body a[target="_blank"]:after {
  margin-top: 4px;
  font-family: 'Material Icons Outlined', serif;
  content: 'open_in_new';
}
body a:hover {
  text-decoration: underline;
}

body em {
  font-style: italic;
}

body strong {
  font-weight: 700;
}

body del {
  text-decoration: line-through;
}

body #main-content {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 16px;
}

body #main-content ul li {
  list-style: inside;
}

body #page {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

body #not-found h1, body #not-found p {
  text-align: center;
}

body .sitemap-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.home-center {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

.button-default {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.button-default:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.button-default:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.button-default:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.button-default:focus {
  outline: 1px transparent;
}
.button-default:before {
  display: none;
}
.button-default:-webkit-details-marker {
  display: none;
}

/* HEADER
--------------------- */
#global-navi {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* HEADING
------------------------ */
body #main-content h1 {
  font-size: 30px;
  font-weight: 900;
  margin: 16px 0;
}

body #main-content h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0;
  border-bottom: 2px dashed #008eff;
}

body #main-content h3 {
  font-size: 20px;
  font-weight: 700;
}
