*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #3c4043;
  font-family: 'Noto Sans JP', serif;
  font-feature-settings: initial;
  line-height: 2.0;
}

body a {
  text-decoration: none;
  color: #3367d6;
}
body a[target="_blank"]:after {
  font-family: 'Material Icons Outlined', serif;
  content: 'open_in_new';
}
body a:hover {
  text-decoration: underline;
}

body em {
  font-style: italic;
}

body strong {
  font-weight: 700;
}

body del {
  text-decoration: line-through;
}

body #main-content {
  width: 70%;
  margin: 0 auto;
}

.button-default a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #ccc;
  border-radius: 50vh;
  transition: 0.3s;
}
.button-default a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #3d9ec8;
  border-radius: 50vh;
  transition: 0.2s;
}
.button-default a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}
.button-default a:hover::before {
  top: 0;
  left: 0;
}
.button-default a:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}

/* HEADER
--------------------- */
#global-navi {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* HEADING
------------------------ */
body #main-content h1 {
  font-size: 30px;
  font-weight: 900;
  padding: 16px;
}

body #main-content h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 4px;
}

body #main-content h3 {
  font-size: 20px;
  font-weight: 700;
}
