body {
  margin: 0;
  padding: 0;
  color: #3c4043;
  font-family: "Noto Sans JP", serif;
  font-feature-settings: initial;
}

/* HEADER
------------------------ */
header {
  width: 100%;
  height: 100px;
  background-color: #dfffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
}

header ul .global-nav-menu {
  list-style: none;
  display: flex;
}

header ul .global-nav-menu li {
  padding: 10px 15px;
}

/* HEADING
------------------------ */
h1 {
  font-size: 28px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

a {
  color: #3367d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
