footer {
  width: 100%;
  height: 48px;
  background-color: #f8f9fa;
  font-size: 8px;
  color: #5f6368;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #dadce0;
}

body #page {
  padding-bottom: 48px;
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #303134;
    color: #e8eaed;
  }
}

footer small .footer-copyright {
  font-family: 'Chakra Petch', serif;
  font-weight: 700;
}
