/* HEADER
--------------------- */
header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #dadce0;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #202124;
    border-bottom: 1px solid #5f6368;
  }
}

header #global-navi {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  #global-navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 600px) {
  .global-navi-menu {
    display: flex;
  }
}

header #global-navi nav ul li.navi_item a {
  display: block;
  margin: 0.4rem 1rem;
}
